= form_for(@contact) do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2
        = pluralize(@contact.errors.count, "error")
        prohibited this contact from being saved:
      %ul
        - @contact.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'

  = f.fields_for :text_field_values do |tfv|
    .form-group
      = tfv.label field_name(@fields, tfv.object.field_id)
      = tfv.hidden_field :field_id, value: tfv.object.field_id.to_s
      = tfv.text_field :value, class: 'form-control'

  = f.fields_for :text_area_field_values do |tfv|
    .form-group
      = tfv.label field_name(@fields, tfv.object.field_id)
      = tfv.hidden_field :field_id, value: tfv.object.field_id.to_s
      = tfv.text_area :value, class: 'form-control'

  = f.fields_for :combo_box_field_values do |cfv|
    - if combobox_options(@options, cfv.object.field_id).size > 0
      = cfv.label field_name(@fields, cfv.object.field_id)
      = cfv.hidden_field :field_id, value: cfv.object.field_id.to_s
      = cfv.select :selected_option_id, combobox_options(@options, cfv.object.field_id, cfv.object.selected_option_id), {}, class: 'form-control'

  %br

  .actions
    = f.submit class: 'btn btn-success'
