= form_for(@field) do |f|
  - if @field.errors.any?
    #error_explanation
      %h2
        = pluralize(@field.errors.count, "error")
        prohibited this field from being saved:
      %ul
        - @field.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name

  - if edit_screen
    .field
      = @field.field_type.humanize
  - if create_screen
    .field
      = f.label :field_type
      %br/
      = f.select :field_type, Field.field_types.map { |key, value| [key.humanize, value] }

  .actions
    = f.submit
