%p#notice= notice
%h1 Listing Custom Fields
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Custom Field Type
      %th{:colspan => "3"}
  %tbody
    - @fields.each do |field|
      %tr
        %td= field.name
        %td= field.field_type.humanize
        %td
          .btn-group
            = link_to field, class: 'btn btn-default' do
              %span.glyphicon.glyphicon-list
              Show
            = link_to edit_field_path(field), class: 'btn btn-default' do
              %span.glyphicon.glyphicon-pencil
              Edit
            = link_to field, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
              %span.glyphicon.glyphicon-trash
              Destroy
%br/
= link_to new_field_path, class: 'btn btn-info' do
  %span.glyphicon.glyphicon-plus
  New Custom Field
