%p#notice= notice
%h1 Listing Fields
%table
  %thead
    %tr
      %th Name
      %th Field Type
      %th{:colspan => "3"}
  %tbody
    - @fields.each do |field|
      %tr
        %td= field.name
        %td= field.field_type.humanize
        %td= link_to 'Show', field
        %td= link_to 'Edit', edit_field_path(field)
        %td= link_to 'Destroy', field, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Field', new_field_path
