%h1 Showing Custom Field


%p
  %strong Name:
  = @field.name
%p
  %strong Field Type:
  = @field.field_type.humanize

- if @field.combo_box?
  %p
    %strong Options:
    - @field.combo_box_options.each do |option|
      %p
        = option.name
        = link_to 'Edit', edit_combobox_option_path(@field.id, option.id)
        |
        = link_to 'Destroy', destroy_combobox_option_path(@field.id, option.id), method: :delete

  = link_to new_combobox_option_path(@field.id), class: 'btn btn-info' do
    %span.glyphicon.glyphicon-plus
    New Option
  |


= link_to edit_field_path(@field), class: 'btn btn-default' do
  %span.glyphicon.glyphicon-pencil
  Edit
|
= link_to fields_path, class: 'btn btn-default' do
  %span.glyphicon.glyphicon-arrow-left
  Back