%p#notice= notice

%h1 Showing Custom Field


%p
  %strong Name:
  = @field.name
%p
  %strong Field Type:
  = @field.field_type.humanize

= link_to edit_field_path(@field), class: 'btn btn-default' do
  %span.glyphicon.glyphicon-pencil
  Edit
|
= link_to fields_path, class: 'btn btn-default' do
  %span.glyphicon.glyphicon-arrow-left
  Back